
<link rel="stylesheet" href="{$wa_static_url}wa-apps/easyreviews/css/style.css">
<script type="text/javascript" src="{{$wa_app_static_url}}js/jquery.jscroll.min.js"></script>



<script>
    $(document).ready(function(){
		$('a.stoogle').click(function() {
			$('.wa-form').slideToggle(350);
		});
    });
</script>


<a class="stoogle">Добавить отзыв</a>




<div class="easyreviews">
{if $success == 1}
    <h1>[s`Thank you!`]</h1>
    <p>[s`Your message has been sent.`] {if $settings['validation'] == 1}[`It will be added after moderation.`]{/if}</p>
{else}
    <div class="wa-form" style="display:none;">
      <form method="post" action="">
        {if $settings['auth_only'] == 1}
          <!-- Только зарег. пользователи -->
          {if $wa->isAuthEnabled()}
            {if $wa->user()->isAuth()}
              <!-- Пользователь зарег -->
              <div class="wa-field">
                <div class="wa-name">[s`Message`]:</div>
                  <div class="wa-value">
                    <textarea class="form-control" {if !empty($errors.body)} class="wa-error" {/if} name="body">{$wa->post("body")|escape}</textarea>
                    {if !empty($errors.body)}<em class="wa-error-msg">[`Invalid Message`]</em>{/if}
                  </div>
              </div>
              {if $settings['show_captcha'] == 1}
                <div class="wa-field">
                  <div class="wa-value">
                    {$wa->captcha(!empty($errors.captcha))}
                    {if !empty($errors.captcha)}<em class="wa-error-msg">[`Invalid CAPTCHA`]</em>{/if}
                  </div>
                </div>
              {/if}
              <div class="wa-field">
                <div class="wa-value wa-submit">
                  <input class="form-control" type="hidden" name="url" value="{$wa->domainUrl()}{$wa->currentUrl()}">
                  <input class="form-control" type="submit" value="[s`Send`]" name="send">
                </div>
              </div>
            {else}
              <!-- Пользователь не зарег. или не авторизован -->
              <p>
                [`Only registered users can write reviews.`]
                <a href="{$wa->loginUrl()}" class="not-visited">[`Log in`]</a>
                <a href="{$wa->signupUrl()}" class="not-visited">[`Sign up`]</a>
              </p>
            {/if}
          {else}
            <!-- Рег. выключена -->
            <p>[`You can enable logging for user settings of the framework, or enable the ability to leave messages for registered users.`]</p>
          {/if}
        {else}
          <!-- Для всех пользователей-->
          <!-- Рег. включена -->
          {if $wa->isAuthEnabled()}
            {if $wa->user()->isAuth()}
              <!-- Пользователь зарег -->
              <div class="wa-field">
                <div class="wa-name">[s`Message`]:</div>
                  <div class="wa-value">
                    <textarea placeholder="Ваш отзыв" class="form-control" {if !empty($errors.body)} class="wa-error" {/if} name="body">{$wa->post("body")|escape}</textarea>
                    {if !empty($errors.body)}<em class="wa-error-msg">[`Invalid Message`]</em>{/if}
                  </div>
              </div>
              {if $settings['show_captcha'] == 1}
                <div class="wa-field">
                  <div class="wa-value">
                    {$wa->captcha(!empty($errors.captcha))}
                    {if !empty($errors.captcha)}<em class="wa-error-msg">[`Invalid CAPTCHA`]</em>{/if}
                  </div>
                </div>
              {/if}
              <div class="wa-field">
                <div class="wa-value wa-submit">
                  <input class="form-control" type="hidden" name="url" value="{$wa->domainUrl()}{$wa->currentUrl()}">
                  <input class="btn btn-add" type="submit" value="[s`Send`]" name="send">
                </div>
              </div>
            {else}
              <!-- Пользователь не авторизован -->
              <p>
                [`You are not authorized! If You have already registered please log in to send messages from your account!`]
                <a href="{$wa->loginUrl()}" class="not-visited">[s`Log in`]</a>
                <a href="{$wa->signupUrl()}" class="not-visited">[s`Sign up`]</a>
              </p>
              <div class="wa-field">
                <div class="wa-name">[s`Name`]:</div>
                <div class="wa-value">
                  <input class="form-control" name="name" placeholder="Ваше имя" type="text" {if !empty($errors.name)} class="wa-error" {/if} value="{$wa->post("name")|escape}">
                  {if !empty($errors.name)}<em class="wa-error-msg">[`Invalid Name`]</em>{/if}
                </div>
              </div>
              {if $settings['require_email'] == 1}
              <div class="wa-field">
                <div class="wa-name">[s`Email`]:</div>
                <div class="wa-value">
                  <input placeholder="Ваш E-mail" class="form-control" {if !empty($errors.email)}class="wa-error"{/if} name="email" type="email" value="{$wa->post("email")|escape}" >
                  {if !empty($errors.email)}<em class="wa-error-msg">[`Invalid Email`]</em>{/if}
                </div>
              </div>
              {/if}
              <div class="wa-field">
                <div class="wa-name">[s`Message`]:</div>
                <div class="wa-value">
                  <textarea placeholder="Ваш отзыв" class="form-control" {if !empty($errors.body)} class="wa-error" {/if} name="body">{$wa->post("body")|escape}</textarea>
                  {if !empty($errors.body)}<em class="wa-error-msg">[`Invalid Message`]</em>{/if}
                </div>
              </div>
              {if $settings['show_captcha'] == 1}
              <div class="wa-field">
                <div class="wa-value">
                  {$wa->captcha(!empty($errors.captcha))}
                  {if !empty($errors.captcha)}<em class="wa-error-msg">[`Invalid CAPTCHA`]</em>{/if}
                </div>
              </div>
              {/if}
              <div class="wa-field">
                <div class="wa-value wa-submit">
                  <input class="form-control" type="hidden" name="url" value="{$wa->domainUrl()}{$wa->currentUrl()}">
                  <input class="btn btn-add" type="submit" value="[s`Send`]" name="send">
                </div>
              </div>
            {/if}
          {else}
            <!-- Рег. выключена -->
            <div class="wa-field">
              <div class="wa-name">[s`Name`]:</div>
              <div class="wa-value">
                <input class="form-control" placeholder="Ваше имя" name="name" type="text" {if !empty($errors.name)} class="wa-error" {/if} value="{$wa->post("name")|escape}">
                {if !empty($errors.name)}<em class="wa-error-msg">[`Invalid Name`]</em>{/if}
              </div>
            </div>
            {if $settings['require_email'] == 1}
            <div class="wa-field">
              <div class="wa-name">[s`Email`]:</div>
              <div class="wa-value">
                <input class="form-control" {if !empty($errors.email)}class="wa-error"{/if} name="email" type="email" value="{$wa->post("email")|escape}" >
                {if !empty($errors.email)}<em class="wa-error-msg">[`Invalid Email`]</em>{/if}
              </div>
            </div>
            {/if}
            <div class="wa-field">
              <div class="wa-name">[s`Message`]:</div>
              <div class="wa-value">
                <textarea placeholder="Ваш отзыв" class="form-control" {if !empty($errors.body)} class="wa-error" {/if} name="body">{$wa->post("body")|escape}</textarea>
                {if !empty($errors.body)}<em class="wa-error-msg">[`Invalid Message`]</em>{/if}
              </div>
            </div>
            {if $settings['show_captcha'] == 1}
            <div class="wa-field">
              <div class="wa-value">
                {$wa->captcha(!empty($errors.captcha))}
                {if !empty($errors.captcha)}<em class="wa-error-msg">[`Invalid CAPTCHA`]</em>{/if}
              </div>
            </div>
            {/if}
            <div class="wa-field">
                <div class="wa-value wa-submit">
                  <input class="form-control" type="hidden" name="url" value="{$wa->domainUrl()}{$wa->currentUrl()}">
                  <input class="btn btn-add" type="submit" value="[s`Send`]" name="send">
                </div>
            </div>
          {/if}
        {/if}
      </form>
    </div>
{/if}

<div class="clear"></div>

<!--Выводим записи -->
{$link = $wa->currentUrl()}
{$str = substr("$link", -1)}

{if $str == '/'}
  {$page = 1}
{else}
  {$page = $str}
{/if}

{$fake = $pages - ($page - 1)}

{if empty($records)}




<p>[`There are still no reviews. You can be the first!`]</p>
{else}
  {$i = 1}
  {foreach from=$records item=r}
  {if $i >= $page * $settings['pagination'] - $settings['pagination'] + 1 && $i < $page * $settings['pagination'] + 1}
    {if $r.moderated != 0}
	
	<div class="gb-box">
		<div class="gb-head">
			<p class="gb-head-l">
			{if $r.photo}
                <img class="avatar" src="{$wa_static_url}wa-data/public/easyreviews/{$r.id}/{$r.photo}" width="20">
            {else}
                <img class="avatar" src="{$r.photo_url}" width="20">
            {/if}
				{$r.name|escape}
			</p>
			<p class="gb-head-r">{$r.datetime|wa_date:'humandatetime'}</p>
		</div>
		<div class="gb-content">
			{$r.body}
		</div>
		{if $r.answer == 1}
			{foreach $answers as $a}
				{if $a.review_id == $r.id}
					{assign var="answer" value=$a}
				{/if}
			{/foreach}
		<div class="gb-admin">
			<p>Администратор:</p>
			<div>{$answer.body|escape|nl2br}</div>
		</div>
		{/if}
	</div>

    <div class="clear-both"></div>
    {/if}
  {/if}
  {$i = $i + 1}
  {/foreach}

  {if $settings['lazyloading'] == 0}
    {wa_pagination total={$pages} page={$page} prev="«" next="»" nb=3 attrs=['class' => 'pagination']}
  {/if}
{/if}
</div>

{if $settings['lazyloading'] == 1 && $pages > 1}
<script>
    $('.easyreviews').jscroll({
        loadingHtml: '<img src="{$wa_static_url}wa-content/img/loading16.gif" alt="[s`Loading`]" /> [s`Loading`]',
        padding: 20,
        nextSelector: 'li.selected + li a',
        contentSelector: '.post'
    });
</script>
{/if}
